{% extends 'dashboard/base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
{% endblock %} 

{% block title %}
FORGOT_PASSWORD PAGE
{% endblock %} | JobVibe

{% block style %}
{% endblock %}




{% block body %}

<div class="container">
    <div class="login">
        <div class="login__content">
            <img class="login__img" src="{% static 'dashboard/images/bg-login.png' %}" alt="Forgot Password Image" />

            <form class="login__form" method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <h1 class="login__title"><span>Forgot</span> Password</h1>

                <p class="login__description">Enter your email to reset your password</p>
                {% if messages %}
                <div class="alert-container">
                    {% for message in messages %}
                    <div class="alert 
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-dander
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WRANING %}alert-wrannig
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO &}alert-info
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS &}alert-success
                        {% else %}alert-secondary  {% endif %}
                        
                        
                        ">{{message}}</div>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="login__inputs">
                    <div>
                        <label for="email" class="login__label">Email</label>
                        <input class="login__input" type="email" id="email" name="email" placeholder="Enter your email" required />
                    </div>
                </div>

                <div class="login__buttons">
                    <button class="login__button" type="submit">Send Reset Link</button>
                </div>

                <p class="login__signup-text">
                    Remembered your password?
                    <a class="login__signup-link" href="{% url 'login' %}">Log In</a>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}